<h1>
  Sprite Sheet<br>Generator
</h1>
<p>
  Select image files <em>or</em> a zip file that contains image files and get a zip file containing a sprite sheet and a corresponding CSS file.
</p>
<% if @error.present? %>
  <p class="error">
    <%= @error %>
  </p>
<% end %>
<div id="root"></div>
