body {
    padding-top: 40px;
}

#file-upload-form {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

#file-upload-form h1 {
    text-align: center;
}

#file-upload-form p.lead {
    text-align: center;
}

#file-upload-form input[type="file"] {
    margin-bottom: 15px;
}

#file-upload-form p.error {
    color: #ff0000;
    text-align: center;
}
